<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="top-container">
      <h1 style="text-align:center; background-color:lavender;"><%= link_to 'Little Esty Shop', home_path %></h1>
      <% flash.each do |type, msg| %>
        <h3><b><%= msg %></b></h3>
      <% end %>
    </div>
    <%= yield %>
  </body> 
</html>